<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "VeNom Coding"|xlt }}</title>
    {{ setupHeader('dialog') }}
</head>
<body>

<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <h1>VeNom Coding</h1>
        </div>
        <div class="col-12">
            {% if versions|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Revision Date</th>
                        <th>Version</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in versions %}
                    <tr>
                        <td>{{ row.revision_date }}</td>
                        <td>{{ row.revision_version }}</td>
                        <td>{{ row.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="col-4 offset-4 text-center">
                    <a href="#" class="btn btn-block btn-secondary btn-lg" id="btnInstallVenom"><i class="fa fa-plus fa-sm pt-1"></i>&nbsp;{{ "Install Venom Coding"|xlt }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="installResultModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">{{ "Install Results"|xlt }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" id="installResultBody"></div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "OK"|xlt }}</button>
      </div>
    </div>
  </div>
</div>


</body>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', e => {
    btnInstallListener();
});

var btnInnerHTML = "";

function manageButton(action)
{
    let btnInstall = document.getElementById('btnInstallVenom');
    if (action == 'lock') {
        btnInnerHTML = btnInstall.innerHTML;
        btnInstall.innerHTML = "<i class='fa fa-circle-notch fa-spin'></i>&nbsp;{{ 'Installing'|xlt }}";
        btnInstall.classList.add("disabled");
    } else if (action == 'unlock') {
        btnInstall.innerHTML = btnInnerHTML;
        btnInstall.classList.remove("disabled");
    }
}

async function doInstall()
{
    manageButton('lock');
    let url = "{{ installURL }}";
    let response = await fetch(url);
    const body = await response.text();
    return body;
}

function btnInstallListener()
{
    let btnInstall = document.getElementById('btnInstallVenom');
    btnInstall.addEventListener('click', e => {
        doInstall().then(body => {
            console.debug(body)
            document.getElementById('installResultBody').innerHTML = body;
            $("#installResultModal").modal('show');
            manageButton('unlock');
        });
    });
}
</script>

</html>
